.post-it-note {
  position: relative;
}

.post-it-note:after {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 0;
  right: 2rem;
  border-width: 1rem;
  border-style: solid;
}

.post-it-note:before {
  content: "";
  position: absolute;
  bottom: -2rem;
  right: 0;
  border-width: 2rem 2rem 0 0;
  border-style: solid;
  border-color: rgb(66 32 6) transparent;
}

[data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: rgba(255, 255, 255, 0.5);
}
